<div class="w-screen fixed z-50 inset-x-0 bottom-0">
  <div class="mx-auto mb-6 p-4 md:p-2 w-3/4 md:max-w-screen-md bg-white shadow-2xl text-center rounded-full border border-gray-400 text-gray-700" style="box-shadow: 0 13px 27px -5px rgb(50 50 93 / 25%), 0 8px 16px -8px rgb(0 0 0 / 30%);">
    <div class="flex items-center">
      <div><img src="/images/stripe-wordmark.svg" class="h-8"/></div>
      <div class="ml-1">{{{ message }}}</div>
    </div>
  </div>
</div>
