<footer aria-labelledby="footer-heading" class="bg-white">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="border-t border-gray-200 py-20 grid grid-cols-2 gap-8 sm:gap-y-0 sm:grid-cols-2 lg:grid-cols-4">
      <div class="grid grid-cols-1 gap-y-10 lg:col-span-2 lg:grid-cols-2 lg:gap-y-0 lg:gap-x-8">
        <div>
          <h3 class="text-sm font-medium text-gray-900">
            Account
          </h3>
          <ul role="list" class="mt-6 space-y-6">
            <li class="text-sm">
              <div class="text-gray-500 cursor-default">
                Manage Account
              </div>
            </li>

            <li class="text-sm">
              <div class="text-gray-500 cursor-default">
                Saved Items
              </div>
            </li>

            <li class="text-sm">
              <div class="text-gray-500 cursor-default">
                Orders
              </div>
            </li>

            <li class="text-sm">
              <div class="text-gray-500 cursor-default">
                Redeem Gift Card
              </div>
            </li>
          </ul>
        </div>
        <div>
          <h3 class="text-sm font-medium text-gray-900">
            Service
          </h3>
          <ul role="list" class="mt-6 space-y-6">
            <li class="text-sm">
              <div class="text-gray-500 cursor-default">
                Shipping &amp; Returns
              </div>
            </li>

            <li class="text-sm">
              <div class="text-gray-500 cursor-default">
                Warranty
              </div>
            </li>

            <li class="text-sm">
              <div class="text-gray-500 cursor-default">
                FAQ
              </div>
            </li>

            <li class="text-sm">
              <div class="text-gray-500 cursor-default">
                Find a store
              </div>
            </li>

            <li class="text-sm">
              <div class="text-gray-500 cursor-default">
                Get in touch
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-y-10 lg:col-span-2 lg:grid-cols-2 lg:gap-y-0 lg:gap-x-8">
        <div>
          <h3 class="text-sm font-medium text-gray-900">
            Company
          </h3>
          <ul role="list" class="mt-6 space-y-6">
            <li class="text-sm">
              <div class="text-gray-500 cursor-default">
                Who we are
              </div>
            </li>

            <li class="text-sm">
              <div class="text-gray-500 cursor-default">
                Press
              </div>
            </li>

            <li class="text-sm">
              <div class="text-gray-500 cursor-default">
                Careers
              </div>
            </li>

            <li class="text-sm">
              <div class="text-gray-500 cursor-default">
                Privacy
              </div>
            </li>

            <li class="text-sm">
              <div class="text-gray-500 cursor-default">
                Terms &amp; Conditions
              </div>
            </li>
          </ul>
        </div>
        <div>
          <h3 class="text-sm font-medium text-gray-900">
            Connect
          </h3>
          <ul role="list" class="mt-6 space-y-6">
            <li class="text-sm">
              <div class="text-gray-500 cursor-default">
                Instagram
              </div>
            </li>

            <li class="text-sm">
              <div class="text-gray-500 cursor-default">
                Pinterest
              </div>
            </li>

            <li class="text-sm">
              <div class="text-gray-500 cursor-default">
                Twitter
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="border-t border-gray-100 py-10 sm:flex sm:items-center sm:justify-between">
      <div class="flex items-center justify-center text-sm text-gray-500">
        <p class="ml-3 border-l border-gray-200 pl-3">&nbsp;</p>
      </div>
      <p class="mt-6 text-sm text-gray-500 text-center sm:mt-0">&copy; Company, Ltd.</p>
    </div>
  </div>
</footer>
