{{> demo_notice message='This is a customer\'s account at Furni where they may track orders, refunds, etc.'}}

<div class="bg-white">
  {{> header }}
  <main class="py-24">
    <div class="max-w-7xl mx-auto sm:px-2 lg:px-8">
      <div class="max-w-2xl mx-auto px-4 lg:max-w-4xl lg:px-0">
        <h1 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">👋 Hi, {{customer.name}}!</h1>
        <p class="mt-2 text-sm text-gray-500">This is a demo. Typically this is where customers can view orders, saved payment methods, and more.
      </div>
    </div>

    <section aria-labelledby="recent-heading" class="mt-16">
      <h2 id="recent-heading" class="sr-only">Recent orders</h2>
      <div class="max-w-7xl mx-auto sm:px-2 lg:px-8">
        <div class="max-w-2xl mx-auto space-y-4 sm:px-4 lg:max-w-4xl lg:px-0">
          <!-- Orders -->
          {{#if paymentIntents}}
            {{#each paymentIntents}}
              {{> account_payment_item paymentIntent=this}}
            {{/each}}
          {{else}}
            <div class="bg-white border-t border-b border-gray-200 shadow-sm sm:rounded-lg sm:border">
              <div class="flex items-center p-4 border-b border-gray-200">
                You haven't made any purchases yet. Check out some of our&nbsp;
                <a href="/products" class="text-accent-color hover:text-brand-color">products</a>!
              </div>
            </div>
          {{/if}}
        </div>
      </div>
    </section>
  </main>
  {{> footer }}
</div>
